html {
    scroll-behavior: smooth;
  }

body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #000;
    color: #fff;
}

/* Navbar */
.logo {
    width: 40px;
}

.nav-black {
    background-color: #000;
    opacity: 0.9;
    color: white;
}

/* Destacados */
.card img {
    height: 200px;
}

/* Footer */
.footer-wrap {
    display: flex;
    justify-content: space-around;
  }

footer a  {
    text-decoration: none;
  }
